:root {
  --dark: #141c2f;
  --dark2: #1a243b;
  --light_dark: #1f2a48;
  --blue: #4179ff;
  --light: #f5f8ff;
}
.github-profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: var(--light);
  padding: 1.2rem;
  border-radius: 15px;
  height: fit-content;

  @media (max-width: 768px) {
    max-width: 95vw;
    padding: 0.2rem;
  }
}
.user-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0.5rem;
  border: 2px solid var(--light);
  border-radius: 15px;
  width: 100%;

  @media (max-width: 768px) {
    border: none;
    padding: none;
    width: 95%;
  }
}

.avatar {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    width: 45%;
  }
}
img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid var(--light);
}
.card {
  display: flex;
  justify-content: center;
  background-color: var(--dark);
  margin-top: 1rem;
  border-radius: 15px;
  padding: 1.5rem;
  gap: 10px;
  width: 50%;

  @media (max-width: 768px) {
    width: fit-content;
    padding: .2rem;

  }
}
.details {
  display: flex;
  flex-direction: column;
  color: var(--light);
}
input {
  border-top-left-radius: 5px;
  border: none;
  padding: 0.7rem;
  min-width: 22vw;

  @media (max-width: 768px) {
    padding: 0.3rem;
    width: 80%;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
button {
  border: 0;
  background-color: var(--blue);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--light);
  padding: 0.5rem 1rem;

  @media (max-width: 768px) {
    padding: 0.3rem;
  }
}

a {
  color: var(--light);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;
}

.error {
  color: red;
}

.up {
  display: flex;
  flex-direction: row;
}
.title {
  font-size: 1.5rem;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
.name {
  color: var(--light);
  font-size: 1.2rem;
  padding: 0.8rem 0;

  @media (max-width: 768px) {
    padding: 0.3rem;
    font-size: 0.9rem;
  }

}
.light_dark {
  background-color: var(--light_dark);
  margin: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
}

.details {
  box-shadow: 0px 0px 9px 0px var(--light_dark);
  -webkit-box-shadow: 0px 0px 9px 0px var(--light_dark);
  -moz-box-shadow: 0px 0px 9px 0px var(--light_dark);
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  @media (max-width: 768px) {
    padding: .2rem;
    width: 45%;
  }
}
.joined{
  @media (max-width: 768px) {
font-size: 0.8rem;  }

}